body {
  overflow: hidden;
  overflow: width;
}

.containerPage {
  color: rgb(243, 246, 248);
  min-height: 100vh;
  background: linear-gradient(80deg, #91b5e4 50%, #fc4444 50%) !important;
}

.icons {
  width: 3rem;
}

.btmPage {
  padding: 1rem !important;
  width: 80%;
  background-color: #4b6b9667;
  color: aliceblue;
}

.btmPage:hover {
  color: black;
  background-color: beige;
}

@media (max-width: 1024px) {

  .containerPage {
    background: linear-gradient(to bottom, #91b5e4, #fc4444) !important;
  }

  .textDescription {
    margin: 0 1px 0 1rem !important;
    padding: 0 !important;
  }

  .petsIcon {
    margin: 0 1px 0 1rem !important;
    padding: 1rem !important;
  }


}

@media (max-width: 768px) {

  body {
    overflow: visible;
    background: linear-gradient(to bottom, #91b5e4, #fc4444) !important;
  }

  .containerPage {
    flex-direction: column;
    background: linear-gradient(to bottom, #91b5e4, #fc4444) !important;
    padding-top: 2rem !important;
    justify-content: center;
  }

  .descriptonPage {
    justify-content: center !important;
    width: 95% !important;

  }


  .textDescription {
    margin: 0 !important;
    padding: 0 !important;
  }

  .petsIcon {
    width: 95% !important;
    margin: 3rem 0 !important;
    padding: 0 !important;
  }

  .containerIcons {
    margin: 1.5rem 1rem !important;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    margin: 1.5rem 1rem !important;
  }

  .icons {
    width: 2.5rem;
    margin: .5rem .8rem !important;
  }

  .btmPage {
    color: black;
    background-color: beige;
  }
}

@media (max-width: 320px) {

  .descriptonPage {
    width: 100% !important;
    padding-top: 1rem !important;

  }

  .textDescription {
    font-size: 1rem !important;
  }

  .petsIcon {
    width: 100% !important;
    margin: 2rem 0 0 0 !important;
  }
}