body {
  overflow: hidden;
}

.containerPage {
  color: rgb(243, 246, 248);
  min-height: 102vh;
  background: linear-gradient(60deg, #91b5e4 50%, #fc4444 50%);
}

.icons {
  width: 3rem;
}

.btmPage {
  width: 80%;
  background-color: #4b6b9667;
  color: aliceblue;
}

.btmPage:hover {
  color: black;
  background-color: beige;
}